#parallax-one {padding-top: 100px; padding-bottom: 100px; overflow: hidden; position: relative; width: 100%; background-image: url(/images/lompat.jpeg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-one .line-break {border-bottom:2px solid white; width: 250px; margin:0 auto;}
#parallax-one h2 {font-family:'Oswald', sans-serif; font-size:36px; text-align:center; color:white; font-weight:400; z-index:10; opacity:.9;}

img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.post-container .post-content blockquote:before, .post-container .comment-content blockquote:before,
.woocommerce .button:hover, .woocommerce #review_form #respond .form-submit input:hover,
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before,
.woocommerce div.product p.price,
.section-video .carousel-indicators li.active,
.lh-1 a:hover,
.l-1 a,
#llc_comments_button:hover, #submit:hover,
.c-1, ch-1:hover { color: #dc3966 !important }

.woocommerce span.onsale,
.format-video.itemInner:after, .format-video.itemGrid:after, .format-audio.itemInner:after, .format-audio.itemGrid:after, .format-gallery.itemInner:after, .format-gallery.itemGrid:after, .sticky.itemInner:after, .sticky.itemGrid:after,
.bgh-1:hover,
.sectionTitle span:before,
#llc_comments_button, #submit,
.bg-1 { background-color: #5388ba !important }

.post-container .post-content a, .post-container .comment-content a,
.post-container .post-content blockquote,
.post-container .comment-content blockquote,
.archive-title,
.section-video .carousel-indicators li.active,
.post-container .lead:after,
.home-recommendation,
.video-post-header .lead:after,
.video-post,
.article-header,
#footer,
#search-menu input[type=search],
#llc_comments_button:hover, #submit:hover,
.brd-1{ border-color: #42ab9e !important }

.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message { border-top-color: #42ab9e }

.itemInner:hover .title:before{ background: linear-gradient(to bottom, transparent 0%, #42ab9e 50%, #42ab9e 100%); }
.itemInner .bg:before{ background: linear-gradient(-45deg,#000, #42ab9e ); }
#footer .footer-content:after{ background: linear-gradient(to bottom, transparent, #42ab9e ); }


.l-meta a, .lh-meta a:hover,
.woocommerce div.product .product_meta,
.widget_rss ul li .rss-date,
.c-meta,.ch-meta:hover { color: #b3c2bf !important; }

.woocommerce .price_slider.ui-widget-content,
.bg-meta,.bgh-meta:hover  { background-color: #b3c2bf !important; }

.brd-meta,
.post-content table td, .post-content table th, .comment-content table td, .comment-content table th { border-color: #b3c2bf !important }


.l-black a,
.lh-black a:hover,
.woocommerce .page-title,
.woocommerce .button, .woocommerce #review_form #respond .form-submit input,
.woocommerce ul.products li.product .price,
.woocommerce .button, .woocommerce #review_form #respond .form-submit input,
.woocommerce ul.products li.product .price,
.c-black, .ch-black:hover { color: #2a2a2a !important; }

.menu-mobile .mobile-menu-inner .social ul li,
.menu-mobile .mobile-menu-inner .items ul li a .hover,
.woocommerce .button:hover, .woocommerce #review_form #respond .form-submit input:hover,
.woocommerce .price_slider .ui-slider-range, .woocommerce .price_slider .ui-slider-handle,
.bgh-black:hover,
.bg-black { background-color: #2a2a2a !important; }

.brd-black{border-color: #2a2a2a !important;}


.l-white a,
.lh-white a:hover,
.format-video.itemInner:after, .format-video.itemGrid:after, .format-audio.itemInner:after, .format-audio.itemGrid:after, .format-gallery.itemInner:after, .format-gallery.itemGrid:after, .sticky.itemInner:after, .sticky.itemGrid:after,
.woocommerce span.onsale,
#llc_comments_button, #submit,
.c-white,.ch-white:hover { color: #FFF !important; }


.section-video .carousel-indicators li.active,
.bgh-white:hover,
.bg-white { background-color: #FFF !important; }

.section-video .carousel-indicators li.active:before {
border-color: transparent #FFF transparent transparent; }


.f-main,
.comment-list .comment-body .comment-meta,
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6,
.woocommerce .page-title,
.woocommerce div.product h1,
.woocommerce div.product h2,
.woocommerce div.product h3,
.woocommerce div.product h4,
.woocommerce div.product #reviews #review_form #respond #reply-title,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce ul.product_list_widget li .product-title,.woocommerce .button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce span.onsale,
#llc_comments_button, #submit,
.widget_rss ul li .rsswidget, .h6,
#desktop-menu .dropdown .dropdown-menu .dropdown-item{
font-family: #b3c2bf !important;
}


.f-text,
.woocommerce .woocommerce-result-count,
.woocommerce div.product #reviews #review_form #respond .comment-form-comment,
.woocommerce div.product #reviews #review_form #respond .comment-form-email,
.woocommerce div.product #reviews #review_form #respond .comment-form-author {
font-family: #FFF !important;
}

.menu-item a {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #5388bb !important;
}

#networks a {
  color: #5388bb !important;
  margin-right: 10px;
}

#networks a:hover {
  color: #dc3966 !important;
  margin-right: 10px;
}

#menu-header li a {
  padding: 10px 17px;
  display: block;
  background: rgba(255, 255, 255, 0.25);
  color: white !important;
}

#menu-header li a:hover {
  padding: 10px 17px;
  display: block;
  background: rgba(255, 255, 255, 0.25);
  color: #dc3966 !important;
}

#sign-in-up a {
  color: #5388bb !important;
  margin-right: 10px;
  margin-left: 10px;
}

#sign-in-up a:hover {
  color: #dc3966 !important;
  margin-right: 10px;
}

#main-content {
  background-color: #fff;
  width: 99%;
  margin: 0 auto;
}

#sub-main-menu {
  margin-left: 100px;
}

#right-sub-menu {
  margin-right: 160px;
  display: block;
}

.sub-banner-item {
  position: relative;
  height: 200px !important;
}

.sectionKategori {
  position: relative;
  display: flex;
}

.sectionKategori span {
  position: relative;
  z-index: 2;
  margin: 0;
  font-weight: 600;
  font-size: 25px;
}

.break-line {
  border: 2px solid #c8d8e8;
  margin: 0 auto;
  position: relative;
}

.mw-1080 {
max-width: 1080px;
}

.quotes {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.fw-700 {
  font-weight: 700;
}

.text-blue {
  color: #5388bb !important;
}

.text-magenta {
  color: #dc3966 !important;
}

.sectionKategori .sub-kategori {
  font-size: 23px;
  margin-top: -2px;
  margin-left: 10px;
}

.section-featured .main-sidebar {
  max-width: 1080px;
}

.sectionAhliTitle {
  text-align: center;
}

.width-25 {
  width: 25%
}

.vl {
  border-right: 2px solid #6292bf;
}

.profile-rounded {
  width: 200px;
}

.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoGoogle {
	background-color:#BD3518;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.card {
  background-color: #5388bb;
}

.card .itemList {
  padding: 30px;
}

#main-menu #left-bars {
  width: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
}
#main-menu #right-bars {
  width: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
}



@media (max-width: 992px) {
  .sectionTitle span {
    position: relative;
    z-index: 2;
    /* padding-left: calc(1rem + 18px); */
    margin: 0;
    font-weight: 600;
    color: #5388bb !important;
    font-size: 24px;
    display: inline-flex;
  }


  #main-menu #left-bars {
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: block;
  }

  #main-menu #right-bars {
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: block;
  }


  #sub-main-menu {
    margin-left: 0px;
  }

  #right-sub-menu {
    display:none;
    margin-right: 0px;
  }

  .sectionKategori span {
    position: relative;
    z-index: 2;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
  }

  .sectionKategori .sub-kategori {
    font-size: 23px;
    margin-top: -2px;
    margin-left: 27px;
  }

}
@media (min-width: 576px) {
 .social-media-container {
   display: none;
 }
}

@media (min-width: 992px) {
 .social-media-container {
   display: block;
 }
}
